body{
  background-image:url('https://www.popsci.com/resizer/QgEMm6gNVXFYEFCmonq-Tp9_D7g=/760x506/cloudfront-us-east-1.images.arcpublishing.com/bonnier/3NIEQB3SFVCMNHH6MHZ42FO6PA.jpg')!important;
  background-repeat: no-repeat;
  background-size: cover;
}
.app{
  margin-top:150px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.todo{
  margin:15px;
  display:flex;
  align-items:center; 
}
h1{
  text-align:center;
  max-height:30vh;
  font-size:38px;
  margin-bottom:120px;
  color:white;
}
h3{
  color:white;
}
.inputbt{
  display:flex;
  align-items: center;
  color:greenyellow ;
}
.add{
  max-height:30vh;
  margin-bottom:20px;
  display:flex;
}
.text{
  width:100px;
  font-weight:bold;
}
.espace{
  border:3px solid white!important;
}
.btn{
  background-color:rgb(241, 42, 241)!important;
  color:white !important;
  border-color:rgb(241, 42, 241)!important
}
.outline{
  outline:none !important;
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.hashed{
  text-decoration:line-through;
}

